@tailwind base;
@tailwind components;
@tailwind utilities;

.titlu::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fdd600;
  bottom: -1.2rem;
  left: calc(50% - 50px);
}

.servicii {
  background-image: linear-gradient(to top, rgb(7, 7, 7), rgb(7, 4, 27));
}
.pachete {
  background-image: linear-gradient(to bottom, rgb(7, 7, 7), rgb(7, 4, 27));
}
.statistici {
  background-image: linear-gradient(to top, rgb(7, 7, 7), rgb(7, 4, 27));
}

.titlu {
  font-size: 35px !important;
}

.btnRezultate {
  width: 300px;
  align-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
}

.despreNoi {
  background-image: linear-gradient(to bottom, rgb(7, 7, 7), rgb(7, 4, 27));
}

.pagina {
  background-image: linear-gradient(to bottom, rgb(7, 7, 7), rgb(7, 4, 27));
}

.fondator {
  background: radial-gradient(closest-side, black, rgb(7, 4, 27), transparent);
}

.scroller {
  gap: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scroller::-webkit-scrollbar {
  width: 100px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #243665;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background-color: #243665da;
}

.scroller::-webkit-scrollbar-track {
  background-color: #24366546;
}

@media (max-width: 900px) {
  .btnRezultate p {
    display: none;
  }
  .btnRezultate {
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  .iconita {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 767px) {
  .btnRezultate {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
  .iconita {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .btnRezultate {
    height: 75px;
    width: 75px;
    padding: 10px;
  }
  .titlu {
    font-size: 30px !important;
  }

  .iconita {
    width: 40px;
    height: 40px;
  }
}
